# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Functions
functions/node_modules/
functions/lib/

# Secrets
google-services.json
GoogleService-Info.plist
.env
